[Desktop Entry]
Comment=Plasma phone dialer
Comment[ca]=Marcador del telèfon per al Plasma
Comment[ca@valencia]=Marcador del telèfon per al Plasma
Comment[el]=Plasma επιλογέας τηλεφώνου
Comment[en_GB]=Plasma phone dialer
Comment[es]=Marcador de teléfono de Plasma
Comment[et]=Plasma kõnevalija
Comment[eu]=Plasma telefono-markatzailea
Comment[fi]=Plasman numerovalitsin
Comment[fr]=Composeur téléphonique Plasma
Comment[it]=Combinatore telefonico di Plasma
Comment[ko]=Plasma 전화 다이얼
Comment[nl]=Telefoonkiezer van Plasma
Comment[nn]=Telefonringjar for Plasma
Comment[pt]=Teclado do Plasma
Comment[pt_BR]=Discador de telefone do Plasma
Comment[ro]=Apelator telefonic Plasma
Comment[ru]=Номеронабиратель Plasma
Comment[sk]=Plasma vytáčanie
Comment[sl]=Plasma phone dialer
Comment[sv]=Plasma uppringning
Comment[uk]=Засіб набирання номеру Плазми
Comment[x-test]=xxPlasma phone dialerxx
Comment[zh_TW]=Plasma 電話撥號器
Encoding=UTF-8
Keywords=
Name=Phone
Name[ca]=Telèfon
Name[ca@valencia]=Telèfon
Name[cs]=Telefon
Name[el]=Τηλέφωνο
Name[en_GB]=Phone
Name[es]=Teléfono
Name[et]=Telefon
Name[eu]=Telefonoa
Name[fi]=Puhelin
Name[fr]=Téléphone
Name[it]=Telefono
Name[ko]=전화
Name[nl]=Telefoon
Name[nn]=Telefon
Name[pt]=Telefone
Name[pt_BR]=Telefone
Name[ro]=Telefon
Name[ru]=Телефон
Name[sk]=Telefón
Name[sl]=Telefon
Name[sv]=Telefon
Name[uk]=Телефон
Name[x-test]=xxPhonexx
Name[zh_TW]=電話
Type=Application
Icon=dialer
Exec=plasmaphonedialer %u

MimeType=x-scheme-handler/tel
