[Desktop Entry]
Comment=Telepathy services required for telephony
Name=Telepathy Services
Type=Service
Icon=dialer
Exec=dbus-send --session --print-reply --dest=org.freedesktop.DBus /org/freedesktop/DBus org.freedesktop.DBus.StartServiceByName string:org.freedesktop.Telepathy.MissionControl5 uint32:0
