[Desktop Entry]
Comment=Telepathy services required for telephony
Comment[az]=Telefoniya üçün Telepathy xidməti tələb olunur
Comment[ca]=Serveis del Telepathy requerits per a la telefonia
Comment[ca@valencia]=Serveis del Telepathy requerits per a la telefonia
Comment[da]=Telepathy-tjenester kræves for telefoni
Comment[el]=Οι υπηρεσίες telepathy απαιτούνται για την τηλεφωνία
Comment[en_GB]=Telepathy services required for telephony
Comment[es]=Servicios Telepathy necesarios para telefonía
Comment[et]=Telefonitehnika jaoks vajalikud telepaatiateenused
Comment[eu]=Telepathy zerbitzuak behar ditu telefoniak
Comment[fi]=Puheluihin vaaditaan Telepathy-palvelut
Comment[fr]=Les services Telepathy sont nécessaires pour la téléphonie
Comment[hu]=A Telepathy szolgáltatások szükségesek a telefonáláshoz
Comment[it]=Servizi Telepathy richiesti per la telefonia
Comment[ko]=전화를 걸려면 Telepathy 서비스가 필요함
Comment[nl]=Telepathy services vereist voor telefonie
Comment[nn]=Treng Telepathy-tenester for telefoni
Comment[pa]=ਟੈਲੀਪੈਥੀ ਲਈ ਟੈਲੀਪੈਥੀ ਸੇਵਾ ਚਾਹੀਦੀ ਹੈ
Comment[pl]=Dla telefonii wymagane są usługi Telepathy
Comment[pt]=Serviços do Telepathy necessários para telefones
Comment[pt_BR]=Serviços do Telepathy necessários para telefonia
Comment[ro]=Servicii Telepathy necesare pentru telefonie
Comment[ru]=Для работы телефона требуются службы Telepathy
Comment[sk]=Služby Telepathhy potrebné pre telefóniu
Comment[sl]=Storitve Telepathy so zahtevane za telefonijo
Comment[sv]=Telepathy-tjänster krävs för telefoni
Comment[uk]=Для роботи зі службами телефонії слід встановити Telepathy
Comment[vi]=Các dịch vụ Telepathy cần cho truyền thanh
Comment[x-test]=xxTelepathy services required for telephonyxx
Comment[zh_CN]=电话所需的 Telepathy 服务
Name=Telepathy Services
Name[az]=Telepathy Xidmətləri
Name[ca]=Serveis del Telepathy
Name[ca@valencia]=Serveis del Telepathy
Name[cs]=Služby Telepathy
Name[da]=Telepathy-tjenester
Name[el]=Υπηρεσίες telepathy
Name[en_GB]=Telepathy Services
Name[es]=Servicios Telepathy
Name[et]=Telepaatiateenused
Name[eu]=Telepathy zerbitzuak
Name[fi]=Telepathy-palvelut
Name[fr]=Services de Telephathy
Name[hu]=Telepathy szolgáltatások
Name[it]=Servizi Telepathy
Name[ko]=Telepathy 서비스
Name[nl]=Telepathy services
Name[nn]=Telepathy-tenester
Name[pa]=ਟੈਲੀਪੈਥੀ ਸੇਵਾਵਾਂ
Name[pl]=Usługi Telepathy
Name[pt]=Serviços do Telepathy
Name[pt_BR]=Serviços do Telepathy
Name[ro]=Servicii Telepathy
Name[ru]=Службы Telepathy
Name[sk]=Služby Telepathy
Name[sl]=Storitve Telepathy
Name[sv]=Telepathy-tjänster
Name[uk]=Служби Telepathy
Name[vi]=Các dịch vụ Telepathy
Name[x-test]=xxTelepathy Servicesxx
Name[zh_CN]=Telepathy 服务
Type=Service
Icon=dialer
Exec=dbus-send --session --print-reply --dest=org.freedesktop.DBus /org/freedesktop/DBus org.freedesktop.DBus.StartServiceByName string:org.freedesktop.Telepathy.MissionControl5 uint32:0
