[Desktop Entry]
Comment=Plasma phone dialer
Comment[ar]=هاتف بلازما
Comment[az]=Plasma nömrə yığımı
Comment[ca]=Marcador de telèfon del Plasma
Comment[ca@valencia]=Marcador de telèfon de Plasma
Comment[el]=Plasma επιλογέας τηλεφώνου
Comment[en_GB]=Plasma phone dialer
Comment[eo]=Plasma telefona dialer
Comment[es]=Marcador de teléfono de Plasma
Comment[et]=Plasma kõnevalija
Comment[eu]=Plasma telefono-markatzailea
Comment[fi]=Plasman numerovalitsin
Comment[fr]=Composeur téléphonique Plasma
Comment[gl]=Marcador de números de teléfono de Plasma.
Comment[hu]=Plasma tárcsázó
Comment[ia]=Compositor de Telephono
Comment[id]=Dialer telepon Plasma
Comment[it]=Combinatore telefonico di Plasma
Comment[ka]=Plasma-ის ტელეფონი
Comment[ko]=Plasma 전화 다이얼
Comment[lt]=Plasma telefono numerių rinkiklis
Comment[lv]=„Plasma“ numura sastādītājs
Comment[nl]=Telefoonkiezer van Plasma
Comment[nn]=Telefonringjar for Plasma
Comment[pa]=ਪਲਾਜ਼ਮਾ ਫੋਨ ਡਾਇਲਰ
Comment[pl]=Wybieranie numerów telefonicznych Plazmy
Comment[pt]=Teclado do Plasma
Comment[pt_BR]=Discador de celular do Plasma
Comment[ro]=Apelator telefonic Plasma
Comment[ru]=Номеронабиратель Plasma
Comment[sk]=Plasma vytáčanie
Comment[sl]=Plasma phone dialer
Comment[sv]=Plasma uppringning
Comment[tr]=Plasma telefon çeviricisi
Comment[uk]=Засіб набирання номеру Плазми
Comment[vi]=Trình quay số điện thoại Plasma
Comment[x-test]=xxPlasma phone dialerxx
Comment[zh_CN]=Plasma 电话拨号器
Comment[zh_TW]=Plasma 電話撥號器
Keywords=Telephone;Call;Phone;Dial;Dialer;PSTN;
Keywords[ar]=هاتف;مكالمة;اتصال;متصل;PSTN;
Keywords[az]=Telefon;Zəng;Yığım;Nömrəyığan;PSTN
Keywords[ca]=Telèfon;Trucada;Marcar;Marcador;PSTN;
Keywords[ca@valencia]=Telèfon;Tocada;Marcar;Marcador;PSTN;
Keywords[en_GB]=Telephone;Call;Phone;Dial;Dialer;PSTN;
Keywords[eo]=Telefono;Voko;Telefono;Dial;Dialer;PSTN;
Keywords[es]=Teléfono;Llamada;Móvil;Marcar;PSTN;
Keywords[eu]=Telefonoa;Deia;Markatu;Markatzaile;PSTN;
Keywords[fi]=puhelin;puhelu;soitto;valinta;valitsin;PSTN;
Keywords[fr]=Téléphone;appel;numérotation;numéroteur;PSTN;
Keywords[gl]=Teléfono;Chamar;Chamada;Móbil;Marcador;Marcar;PSTN;
Keywords[hu]=Telefon;Hívás;Telefon;Tárcsázás;Tárcsázó;PSTN;
Keywords[ia]=Telephone;Call;Phone;Dial;Dialer;PSTN;
Keywords[it]=Telefono;Chiamata;Componi;Composizione;PSTN;
Keywords[ka]=Telephone;Call;Phone;Dial;Dialer;PSTN;
Keywords[ko]=전화;통화;폰;휴대폰;다이얼;
Keywords[lv]=Tālrunis;Telefons;Zvans;Zvanīt;Numurs;
Keywords[nl]=Telefoon;Oproep;Telefoontoestel;Kiezen;Kiezer;PSTN;
Keywords[nn]=telefon;samtale;anrop;ringja;oppringing;PSTN;
Keywords[pa]=ਟੈਲੀਫ਼ੋਨ;ਕਾਲ;ਫ਼ੋਨ;ਡਾਇਲ;ਡਾਈਲ;ਡਾਈਲਰ;ਡਾਇਲਰ;ਫੋਨ;PSTN;
Keywords[pl]=Telefon;Rozmowy;Telefon;Wybieranie;Wybierak;PSTN;
Keywords[pt]=Telefone;Chamada;Telemóvel;Marcação;Marcador;PSTN;
Keywords[pt_BR]=Telefone;Chamadas;Fone;Ligar;Discador;PSTN;
Keywords[ru]=Telephone;Call;Phone;Dial;Dialer;PSTN;Телефон;вызов;звонок;набрать;позвонить;номеронабиратель
Keywords[sl]=Telefon;klic;telefon;zavrti;številčnica;PSTN;
Keywords[sv]=Telefon;Samtal;Ringa;PSTN;
Keywords[tr]=Telefon;Arama;Çağrı;Çevir;Çevirici;PSTN;
Keywords[uk]=Telephone;Call;Phone;Dial;Dialer;PSTN;телефон;виклик;дзвінок;набір;набирання;
Keywords[vi]=Telephone;Call;Phone;Dial;Dialer;PSTN;điện thoại;gọi;quay số;trình quay số;
Keywords[x-test]=xxTelephonexx;xxCallxx;xxPhonexx;xxDialxx;xxDialerxx;xxPSTNxx;
Keywords[zh_CN]=Telephone;Call;Phone;Dial;Dialer;PSTN;电话;通话;拨号;呼叫;dianhua;tonghua;bohao;hujiao;
Name=Phone
Name[ar]=الهاتف
Name[az]=Telefon
Name[ca]=Telèfon
Name[ca@valencia]=Telèfon
Name[cs]=Telefon
Name[da]=Telefon
Name[de]=Telefon
Name[el]=Τηλέφωνο
Name[en_GB]=Phone
Name[eo]=Telefono
Name[es]=Teléfono
Name[et]=Telefon
Name[eu]=Telefonoa
Name[fi]=Puhelin
Name[fr]=Téléphone
Name[gl]=Teléfono
Name[hu]=Telefon
Name[ia]=Telephono
Name[it]=Telefono
Name[ka]=ტელეფონი
Name[ko]=전화
Name[lt]=Telefonas
Name[lv]=Tālrunis
Name[nl]=Telefoon
Name[nn]=Telefon
Name[pa]=ਫ਼ੋਨ
Name[pl]=Telefon
Name[pt]=Telefone
Name[pt_BR]=Celular
Name[ro]=Telefon
Name[ru]=Телефон
Name[sk]=Telefón
Name[sl]=Telefon
Name[sv]=Telefon
Name[tr]=Telefon
Name[uk]=Телефон
Name[vi]=Điện thoại
Name[x-test]=xxPhonexx
Name[zh_CN]=电话
Name[zh_TW]=電話
Type=Application
Icon=dialer
Exec=/usr/bin/plasmaphonedialer %u
Categories=Qt;KDE;Telephony;Network;
MimeType=x-scheme-handler/tel;x-scheme-handler/callto;
InitialPreference=10
X-KDE-Protocols=tel;callto;
X-KDE-Wayland-Interfaces=kde_lockscreen_overlay_v1
